/* Customização visual do título acionado pelo ID semântico */
#nome_do_usuario_display {
    font-family: 'Arial', sans-serif;
    color: #1a237e;
   
}

#perfil_acesso_display {
    font-size: 1.2rem;
    font-style: italic;
    color: #2e7d32;

}